@import "syntax-variables";

atom-text-editor, :host {
  background-color: @syntax-background-color;
  color: @syntax-text-color;
}

atom-text-editor .gutter, :host .gutter {
  background-color: @syntax-gutter-background-color;
  color: @syntax-gutter-text-color;
}

atom-text-editor .gutter .line-number.cursor-line, :host .gutter .line-number.cursor-line {
  background-color: @syntax-gutter-background-color-selected;
  color: @syntax-gutter-text-color-selected;
}

atom-text-editor .gutter .line-number.cursor-line-no-selection, :host .gutter .line-number.cursor-line-no-selection {
  color: @syntax-gutter-text-color-selected;
}

atom-text-editor .wrap-guide, :host .wrap-guide {
  color: @syntax-wrap-guide-color;
}

atom-text-editor .indent-guide, :host .indent-guide {
  color: @syntax-indent-guide-color;
}

atom-text-editor .invisible-character, :host .invisible-character {
  color: @syntax-invisible-character-color;
}

atom-text-editor .search-results .marker .region, :host .search-results .marker .region {
  background-color: transparent;
  border: @syntax-result-marker-color;
}

atom-text-editor .search-results .marker.current-result .region, :host .search-results .marker.current-result .region {
  border: @syntax-result-marker-color-selected;
}

atom-text-editor.is-focused .cursor, :host(.is-focused) .cursor {
  border-color: @syntax-cursor-color;
}

atom-text-editor.is-focused .selection .region, :host(.is-focused) .selection .region {
  background-color: @syntax-selection-color;
}

atom-text-editor.is-focused .line-number.cursor-line-no-selection, atom-text-editor.is-focused .line.cursor-line, :host(.is-focused) .line-number.cursor-line-no-selection, :host(.is-focused) .line.cursor-line {
  background-color: rgba(13, 0, 198, 0.38);
}

.text {
  color: #FFFFFF;
}

.source.ruby.rails.embedded.html {
}

.text.html.ruby {
  color: #FFFFFF;
}

.constant.numeric.ruby {
  color: #CCFF33;
}

.source.ruby {
  color: #FFFFFF;
}

.source {
  color: #FFFFFF;
}

.comment {
  color: #545454;
}

.constant {
  color: #5FBAFD;
}

.keyword {
  color: #FF7827;
}

.keyword.preprocessor {
  color: #C1F0F6;
}

.keyword.preprocessor .directive {
  color: #FFFFDD;
}

.entity.name.function, .storage.type.function.js {
  color: #FF9C3B;
}

.variable.parameter {
}

.source .comment.block {
  font-style: italic;
  color: #363636;
}

.variable.other, .variable.js, .punctuation.separator.variable {
  color: #1AA6FC;
}

.support.function.activerecord.rails {
  color: #999966;
}

.string {
  color: #FFFC7A;
}

.string .constant.character.escape {
  color: #AAAAAA;
}

.string.interpolated {
  color: #DDE93D;
  background-color: #61601D;
}

.string.regexp {
  color: #44B4CC;
}

.string.literal {
  color: #CCFF33;
}

.string.interpolated .constant.character.escape {
  color: #555555;
}

.entity.name.class, .support.class.js {
}

.entity.other.inherited-class {
  color: #D20037;
}

.entity.name.tag {
  color: #E95126;
}

.meta.tag.inline.any.html, .meta.tag.block.any.html {
  color: #E95126;
}

.entity.other.attribute-name {
  color: #E95126;
}

.keyword.other {
  color: #DDE93D;
}

.meta.selector.css, .entity.other.attribute-name.pseudo-class.css, .entity.name.tag.wildcard.css, .entity.other.attribute-name.id.css, .entity.other.attribute-name.class.css {
  color: #FF873A;
}

.support.type.property-name.css {
  color: #44B4CC;
}

.keyword.other.unit.css, .constant.other.rgb-value.css, .constant.numeric.css {
  color: #F2F2F2;
}

.support.function.event-handler.js {
  color: #FFFFDD;
}

.keyword.operator.js {
  color: #FF873A;
}

.keyword.control.js {
  color: #F3450F;
}

.support.constant.js {
  color: #B91F39;
}

.support.class.prototype.js {
  color: #EDF8F9;
}

.object.property.function.prototype.js {
  color: #FF4A10;
}

.constant.character.escaped, .constant.character.escape, .string .source, .string .source.ruby {
  color: #B2D9D0;
}

.support {
  color: #DF0033;
}

.support.function {
  color: #F84E14;
}

.support.constant {
  color: #F9DC76;
}

.storage {
  color: #FF9419;
}

.variable.other.readwrite.global.pre-defined, .variable.language {
  color: #127FFB;
}

.variable.other.constant {
  color: #FF1800;
}

.support.variable {
  color: #CCFF33;
}

.variable.other.readwrite.global {
  color: #D0D0FF;
}

.variable.other, .variable.js, .punctuation.separator.variable {
  color: #FFFFFF;
}

.variable.other.readwrite.class {
}

.variable.other.readwrite.instance {
  color: #1AA6FC;
}

.variable.other.php, .variable.other.normal {
}

.declaration.tag, .declaration.tag .entity, .meta.tag, .meta.tag .entity {
  color: #FF7827;
}

.declaration.tag.inline, .declaration.tag.inline .entity, .source .entity.name.tag, .source .entity.other.attribute-name, .meta.tag.inline, .meta.tag.inline .entity {
  color: #FF7827;
}
